main#main-content {
    flex: 1;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .container.py-5 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}