<h2 class="title" id="team">Equipo</h2>
<section class="team-cont">
    <div class="member-card">
        <img class="member-img" src="https://88.24.26.59//imgs/profile/Orions@68/profile.jpg" alt="Member 1">
        <div class="member-info">
            <h3>César Osvaldo Matelat Borneo</h3>
            <h4>Desarrollador</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
            <div class="social">
                <a href="#top"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a href="#top"><i class="fa-brands fa-github"></i>GitHub</a>
            </div>
        </div>
    </div>
    <div class="member-card reverse">
        <div class="member-info">
            <h3>Leslie Anne Ledesma Lara</h3>
            <h4>Desarrolladora</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
            <div class="social">
                <a href="#top"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a href="#top"><i class="fa-brands fa-github"></i>GitHub</a>
            </div>
        </div>
        <img class="member-img" src="https://88.24.26.59//imgs/profile/Mae/Leslie.jpg" alt="Member 2">
    </div>
    <div class="member-card">
        <img class="member-img" src="https://88.24.26.59//imgs/profile/Patrokwanzana/Patrick.jpg" alt="Member 3">
        <div class="member-info">
            <h3>Patrick Edward Murphy González</h3>
            <h4>Desarrollador</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
            <div class="social">
                <a href="#top"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a href="#top"><i class="fa-brands fa-github"></i>GitHub</a>
            </div>
        </div>
    </div>
</section>